a
{
	color: #22BCE0;
}

body
{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;
}

footer
{
	background: #22BCE0;
	/*Doy un poco de transparencia al texto*/
	color: rgba(255,255,255,0.7);
	text-align: center;
	padding: 1em;
}

/* First-child indica primera etiqueta en este caso p hija del footer*/
footer  p:first-child
{
	/*rompemos el margen por abajo para que se aproxime a Luismi 2014*/
	margin-bottom: 0;
}

footer p:last-child
{
	/*Rompemos el margen por arriba para que se pegue a Powered...*/
	margin-top: 0;
}

footer p:last-child:after
{
	/*Voy a poner la rayita después de luismi, con before y luego con after*/
	content: " -";
}

footer p:last-child:before
{
	/*Voy a poner la rayita antes de luismi, con after y luego con before*/
	content: "- ";
}

header
{
	background: #343B54;
	color: white;
	/*Hago que no se vean los elementos que se salen*/
	overflow: hidden;
	/*Hago un padding para despegar el logo del margen*/
	padding: 0.5em;
	/*Esto unido a la posición absolute del avatar, hará que este suba*/
	position: relative;
}

header h1
{
	font-size: 18px;
	/*quito la negrita al h1*/
	font-weight: normal;
	/*Quitamos el margen del titulo por arriba con 0.2 y quitamos el de la derecha con 70*/
	margin: 0.2em 70px 0 0;
}

header figure
{
	/*Pongo los figure a flotar, para poder poner cajas enfrente*/
	float:left;
}

header #avatar
{
	margin: 0.5em 0.5em 0 0;
	/*Esto unido a la posición relative del header hará que el logo suba*/
	position: absolute;
	right: 0;
	top: 0;
}

header #avatar img
{
	/*redondeo la imagen del avatar*/
	border-radius: 50%;
	/*reduzco el logo a través de su id*/
	width: 55px;

}

header #logo img
{
	/*reduzco el logo a través de su id*/
	width: 52px;
	/* Creo la rayita del logo*/
	border-right: 1px solid white;
	/*Separo la raya del logo*/
	padding-right: 0.5em;
	/*Separo la raya del texto*/
	margin-right: 0.5em;
}

nav
{
	background: #80BCA3;
	padding: 0 0.5em;
	/*Ponemos posición relativa para poner absoluta al botón publicar*/
	position: relative;
}

nav ul #publicar_nav
{
	/*Ponemos la posición relativa a nav, así que ponemos esta en absoluta*/
	position: absolute;
	top: -0.4em;
	right: 0;
}

nav ul #publicar_nav a
{
	background: #22BCE0;
	padding: 0.8em 0.5em;
	border-radius: 0.3em;
	text-decoration: none;
	font-style: italic;
	/*Sombra del botón. Primero va el color entre paréntesis y luego el desplazamiento y la difuminación*/
	text-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	/*Sombra de la caja*/
	box-shadow: rgba(0,0,0,0.5) 2px 2px 10px;
}

nav ul
{
	list-style: none;
	/* Con el margin quitamos el espacio entre la caja nav y el header*/
	margin: 0px;
	padding: 0px;
}

nav ul li
{
	display: inline-block;
	margin: 0 1em 0 0;
}

nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}

#contenido
{
	margin: 1em;
}

#contenido .item
{
	background: white;
	/*Hacemos la raya azul*/
	border-bottom: 3px solid #22BCE0;
	/*Con esta instruccion al pony se le establece el tamaño de imagen minimo pra que podamos colocar las votaciones*/
	min-height: 128px;
	/*Para que funcione la clase votacion dentro de item, tengo que poner este en relativo*/
	position: relative;
	margin-bottom: 2em;
}

#contenido .item .autor_item
{
	color: #aaa;
}

#contenido .item .datos_item
{
	margin: 1em 1em 0 0;
	text-align: right;
}

#contenido .item .datos_item .fecha_item
{
	color: #aaa;
}

#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	color: white;
	float: left;
	display: inline-block;
	padding: 0.2em;
	border-radius: 0.5em;
	text-decoration: none;
}

#contenido .item .imagen_item
{
	/*Poner la imagen a la derecha para que el texto se ponga al lado*/
	float: left;
	margin: 0 1em 0 0 ;
}

#contenido .item .imagen_item img
{
	width: 96px;
}

#contenido .item .titulo_item
{
	/*Ponemos la letra del h1 a nuestro gusto*/
	font-size: 1.2em;
	font-style: italic;
	padding: 1em 1em 0 0;
}

#contenido .item .titulo_item a
{
	color: #444;
	text-decoration: none;
}

#contenido .item .votacion
{
	/*Al poner este absoluto, tengo que poner relativo item, porque si no se va arriba del todo*/
	position: absolute;
	left: 0;
	/*Como al tener esa posición se va para arriba, con top 100% baja*/
	top: 100%;
	background: white;
	width: 90%;
	left: 5%;
	margin-top: 3px;
	padding:0.2em 0.5em;
	border-radius: 0 0 0.5em 0.5em;
}

#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
	float: right;
}